@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        Book Cubical
    </div>
    <div class="card-body">
        <p>
            Book a cubical with ease :
        </p>
        <a asp-action="Book" asp-controller="CubicalBooking" class="btn btn-primary">Book Cubical</a>
    </div>
</div>
